*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    text-align: center;
    color: #1e1e1e;
}

h1 {
    margin-block: 0.7rem;
}

h2 {
    font-weight: 900;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(2, 11.25rem);
    row-gap: 1.5rem;
    column-gap: 2.5rem;
    justify-content: center;
    margin-top: 2.5rem;
}

.btn {
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 1.5rem;
    border: 0.5rem solid #1e1e1e;
    box-shadow: 2px 2px 8px #1e1e1e84;
    cursor: pointer;
}

.btn1 {
    background-color: #d95980;
}
.btn2 {
    background-color: #63aac0;
}

.btn3 {
    background-color: #f99b45;
}

.btn4 {
    background-color: #819ff9;
}

.flash {
    background-color: white;
}

.user-flash {
    background-color: rgba(0, 255, 17, 0.463);
}

.wrongBtn {
    background-color: red;
}